.loading-container {
  background: rgba(178, 69, 146, 0.7); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba(241, 95, 121, 0.7),
    rgba(178, 69, 146, 0.7)
  );
  background: linear-gradient(
    to top,
    rgba(241, 95, 121, 0.7),
    rgba(178, 69, 146, 0.7)
  );
  border-radius: 10px;
  border: solid 2px rgba(8, 19, 51, 0.84);
  margin: 0 auto;
  padding-bottom: 30px;
  box-shadow: 3px 3px 26px 8px rgba(8, 19, 51, 0.84);
  height: 700px;
  width: 500px;
}

.loader-icon {
  margin-top: 200px;
}
