.forecast {
  margin: 0 auto;
  padding: 0;
  font-family: "Cutive Mono", monospace;
  list-style: none;
  font-size: 1em;
  margin: 0 auto;
  color: #2c1148;
  /* align-content: center; */
}

.forecast li {
  display: inline-block;
}
