.city-title {
  color: #2c1148;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5em;
  /* letter-spacing: 1px; */
  text-align: left;
}

.date-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.current-time {
  color: #33ee21;
  font-family: "Cutive Mono", monospace;
  font-size: 1.3em;
}

.current-date {
  color: #2c1148;
  font-family: "Cutive Mono", monospace;
  font-size: 1.3em;
}

.temp-display {
  position: relative;
}

.current-temp {
  display: inline;
  vertical-align: middle;
  font-family: "Orbitron", sans-serif;
  color: #33ee21;
  font-size: 1.7em;
}

.temp-btn {
  vertical-align: middle;
  background-color: transparent;
  color: #ee9945;
  border: none;
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
}

.temp-btn-active {
  color: #33ee21;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  font-family: "Orbitron", sans-serif;
  text-decoration: underline;
}

.description {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: #ee9945;
  font-size: 1.7em;
  letter-spacing: 3px;
}

.description2 {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-family: "Cutive Mono", monospace;
  font-size: 1.6em;
  font-weight: 700;
  color: #2c1148;
}

/*---------------------------------------------------------------RESPONSIVE MEDIA QUERIES*/

@media only screen and (max-width: 575px) {
  .city-title {
    text-align: center;
    padding-top: 25px;
  }

  .date-list {
    text-align: center;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .city-title {
    font-size: 1.8em;
    font-weight: 700;
  }

  .current-date {
    font-size: 1.3em;
  }

  .current-time {
    font-size: 1.3em;
  }

  .description {
    font-size: 1.3em;
  }

  .description {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1025px) {
  .city-title {
    font-size: 3em;
  }

  .current-date {
    font-size: 1em;
  }

  .current-time {
    font-size: 1em;
  }

  .date-list {
    padding-left: 15px;
    font-size: 1.5em;
  }

  .description {
    font-size: 2.7em;
  }

  .description {
    font-size: 2em;
  }
}
