.App {
  background-image: url("./media/background-image-space.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  width: auto;
  text-align: center;
}
