@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Slab:wght@400;600&family=Reggae+One&display=swap");

.weather-container {
  background: rgba(178, 69, 146, 0.7); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba(241, 95, 121, 0.7),
    rgba(178, 69, 146, 0.7)
  );
  background: linear-gradient(
    to top,
    rgba(241, 95, 121, 0.7),
    rgba(178, 69, 146, 0.7)
  );
  border-radius: 10px;
  border: solid 2px rgba(8, 19, 51, 0.84);
  margin: 0 auto;
  padding-bottom: 30px;
  box-shadow: 3px 3px 26px 8px rgba(8, 19, 51, 0.84);
}

.city-title {
  padding-top: 30px;
  color: #e9ecf5;
  font-family: "Bangers", cursive;
  font-size: 5em;
}

.current-time {
  color: #7ed824;
  font-family: "Reggae One", cursive;
}

.current-date {
  color: #e9ecf5;
  font-family: "Reggae One", cursive;
}

.temp-display {
  position: relative;
}

.current-temp {
  display: inline;
  vertical-align: middle;
  font-family: "Reggae One", cursive;
  color: #80ffdb;
  font-size: 3em;
}

.temp-btn {
  vertical-align: middle;
  background-color: transparent;
  color: #80ffdb;
  border: none;
  font-size: 1.2em;
  font-family: "Bangers", cursive;
  font-size: 2em;
}

.temp-btn:hover {
  color: #e9ecf5;
}

.large-icon {
  display: inline;
  height: 130px;
}

.small-icon {
  height: 60px;
  display: inline;
  margin: 5px;
}

.temps {
  display: inline;
}

.forecast {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-family: "Bangers", cursive;
  font-size: 2em;
  color: #ffff27;
}

.small-btn {
  vertical-align: bottom;
  margin: 2px;
  background-color: transparent;
  border: none;
  color: #80ffdb;
}

.search {
  border-radius: 50%;
  border: none;
  color: #80ffdb;
  font-weight: bold;
  width: 80px;
  height: 80px;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e54b7b, #410744);
  background: linear-gradient(to bottom, #e54b7b, #410744);
  box-shadow: inset 0px 3px 26px 8px rgba(65, 7, 68, 0.5);
}
