.weather-container {
  background-color: rgba(242, 82, 135, 0.7);
  border-radius: 10px;
  border: solid 5px #f9f871;
  margin: 0 auto;
  padding-bottom: 30px;
}

.city-title {
  padding-top: 30px;
  color: #e9ecf5;
}

.current-time {
  color: #f9f871;
}

.current-date {
  color: #80ffdb;
}

.small-icon {
  height: 30px;
}
